<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
{% load bootstrap4 %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

 <title>{% block title %}{{title}}{% endblock title%}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/shop-homepage.css' %}" rel="stylesheet">

</head>

<body>


  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">SICLIFE-VOTE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
               <li>
                <form class="form-inline my-2 my-lg-0 mr-4" action="{% url 'Slife:search' %}">
                <input class="form-control mr-sm-2" name="q" type="search" placeholder="e.g. best worker" aria-label="Search">
                <button class="btn btn-success " type="submit">Search</button>
            </form>
            </li>
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
              <li class="nav-item">
            <a class="nav-link" href="{% url 'Slife:categories' %}">All Lists</a>
          </li>
          <li class="nav-item">
             <!-- <a class="nav-link" href="#">Candidates</a>  -->
          </li>
          <li class="nav-item">
             <!-- <a class="nav-link" href="#">Candidates</a>  -->
          </li>
          <li cla  ss="nav-item">
            <a class="nav-link" href="{% url 'Slife:contact' %}">Contact</a>
          </li>
        {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hi {{user.username}}</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                             <a class="dropdown-item" href="{% url 'Slife:logout' %}">Logout</a>
                        </div>
                </li>
          {% else %}
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                           <a class="dropdown-item" href="{% url 'Slife:login' %}">Login</a>
                            <a class="dropdown-item" href="{% url 'Slife:register' %}">Register</a>  
                        </div> 
                </li>

          {% endif %}

        </ul>
      </div>
    </div>
  </nav>
{% block content %}


  <!-- Page Content -->
  <center>{% bootstrap_messages %}</center>
  <div class="container">

    <div class="row">

      <div class="col-lg-3">
        <div class="list-group">
           <hr>
          <h5>Featured Lists({{featured_categories|length}})</h5>
          {% for category in featured_categories %}
        <b> <a href="{% url 'Slife:options' category.slug %}" class="list-group-item">{{category.name}} ({{category.option_set.all|length}})</a></b>
          {% endfor %}
        </div>

      </div>

      
      <!-- /.col-lg-3 -->
<br>
      <div class="col-lg-9">
          <hr>
          <center> <h5>Most Viewed Lists({{categories|length}})</h5></center>
          <hr>
        <div class="row">

          
 {% for category in categories %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="{% url 'Slife:options' category.slug %}"><img width="200" height="200" src="/media/{{categories.image}}" alt=""> </a>
              <div class="card-body">
                <h4 class="card-title"> 

          <a href="{% url 'Slife:options' category.slug %}">{{category.name}} ({{category.option_set.all|length}})</a>
                    <br>
                    <h5> {{category.views}} views</h5>


                </h4>
                <p class="card-text">{{category.details}}</p>
              </div>
             <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
              </div>
            </div>
          </div>
            {% endfor %}
        </div>
        <!-- /.row -->

      </div>

      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  {% endblock content%}
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy
           SICLIFE-GH.com {% now 'Y' %},
           All rights reserved</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>

<!---/media/{{category.image}}-->
<!-- disable button -->
<!-- <button type="button" disabled>Click Me!</button>  -->