
{% extends "Slife/base.html" %}

{% load bootstrap4 %}
<title>{% block title %}Password Reset Complete{% endblock %}</title>

{% block content %}
<br>
<center>{% bootstrap_messages %}</center>
<div class="container">
    <div class="row">
        <div class="col-lg-4 offset-lg-4 col-sm-10 offset-sm-1">
            <div class="card my-5">
                <div class="card-body">
           <h5>Password Changed Successfully !!
           <a href="{% url 'Slife:login' %}">Login</a> </h5>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
